name: 自动同步上游仓库
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取本地仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 配置 Git
        run: |
          git config --global user.name "mrchenzx"
          git config --global user.email "toudisicd@126.com"

      - name: 同步上游仓库
        run: |
          git remote add upstream https://github.com/fhpeerless/cter_tv.git || true
          git fetch upstream
          git checkout main
          git rebase upstream/main
          git push origin main --force-with-lease
